<header role="banner" class="mainHeader header">
  <div class="headerTop hidden-xs">
    <div class="container">
      <ul class="headerTopLeft">
        <li class="currencies headerTopLeft__item" data-ss-init="CurrenciesComponent" data-ss-state="onReady">
          <svg class="headerTopLeft__img">
            <use xlink:href="#arrow2"></use>
          </svg>
          <ul class="headerTopLeft__options">
            <li class="active headerTopLeft__option">€EUR</li>
            <li class="headerTopLeft__option">£GBP</li>
            <li class="headerTopLeft__option">$USD</li>
          </ul>
        </li>
        <li class="countries headerTopLeft__item">
          <svg class="headerTopLeft__img">
            <use xlink:href="#arrow2"></use>
          </svg>
          <ul class="headerTopLeft__options">
            <li class="headerTopLeft__option active">English</li>
            <li class="headerTopLeft__option">Espanol</li>
          </ul>
        </li>
      </ul>

      <ul class="headerTopRight">
        <li class="wishlist">
          <a href="#wishlist" class="wishlist__link is-active">My Wishlist</a>
          <div class="wishlist__img">
            <svg class="wishlist__icon">
              <use xlink:href="#wishlist-1"></use>
            </svg>
            <svg class="wishlist__icon">
              <use xlink:href="#wishlist-2"></use>
            </svg>
          </div>
        </li>
        <li class="headerTop__separator"></li>

        {% if shop.customer_accounts_enabled %}
        <li class="myAccount" data-ss-init="TopHeaderMyAccountComponent" data-ss-state="onReady">
          <div class="myAccount__leftSide is-outside-viewport">
            {% if customer %}
            <a class="myAccount__link" href="/account/logout">Log out</a>
            <span class="myAccount__separator">-</span>
            <a class="myAccount__link is-active" href="/account">My Account</a>
            {% else %}
            <a class="myAccount__link" href="/account/login">Log in</a>
            {% if shop.customer_accounts_optional %}
            <span class="myAccount__separator"> - </span>
            <a class="myAccount__link is-active" href="/account/register">Register</a>
            {% endif %}
            {% endif %}
          </div>

          <div class="myAccount__rightSide">
            {% if customer %}
            <a href="/account" class="myAccount__img">
              <div class="myAccount__gravatar">
                <img src="http://www.gravatar.com/avatar/{{ customer.email | md5 }}?s=40&d=blank" />
              </div>
              <svg class="myAccount__icon">
                <use xlink:href="#user-2"></use>
              </svg>
            </a>

            <a class="myAccount__link is-active" href="/account">Hi, {{ customer.first_name }} !</a>
            {% else %}
            <a href="/account/register" class="myAccount__img">
              <svg class="myAccount__icon">
                <use xlink:href="#user-1"></use>
              </svg>
            </a>
            {% endif %}
          </div>

        </li>
        {% endif %}

      </ul>
    </div>
  </div>

  <div class="headerMain container">
    <div class="menuIcon menuIcon--x visible-xs" data-ss-init="MenuComponent" data-ss-state="onReady">
      <span>toggle menu</span>
    </div>
    {% if settings.use_logo %}
    <a class="logo" href="/">
      <img class="logo__img" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}">
    </a>
    {% else %}
    <a id="site-title" href="/">
      {{ shop.name }}
    </a>
    {% endif %}
    <svg class="cart">
      <use xlink:href="#cart"></use>
    </svg>

  </div>
  <div class="headerBottom">
    <div class="topInfo"><div class="container">Info</div></div>
    <div class="breadcrumb">Navigation</div>
  </div>
</header>
