{% if shop.customer_accounts_enabled %}

  {% assign horizontalPosition = '' %}
  {% assign desktopClass = '' %}
  {% assign tabletClass = '' %}
  {% assign mobileClass = '' %}

  {% if position == 'top_left' or position == 'main_left' %}
    {% assign horizontalPosition = 'myAccount--leftSide' %}
  {% endif %}

  {% if settings.my_account_position_desktop == position %}{% assign desktopClass = 'visible-md-min-flex' %}{% endif %}
  {% if settings.my_account_position_tablet == position %}{% assign tabletClass = 'visible-sm-flex' %}{% endif %}
  {% if settings.my_account_position_mobile == position %}{% assign mobileClass = 'visible-xs-flex' %}{% endif %}

  {% if settings.my_account_position_desktop == position
  or settings.my_account_position_tablet == position
  or settings.my_account_position_mobile == position %}
    <div class="myAccount {{ horizontalPosition }} {{ mobileClass }} {{ tabletClass }} {{ desktopClass }}"
         data-ss-init="HeaderMyAccountComponent">
      <div class="myAccount__hiddenSide hidden-xs is-outside-viewport">
        {% if customer %}
          <a class="myAccount__link" href="/account/logout">Log out</a>
          <span class="myAccount__separator">-</span>
          <a class="myAccount__link is-active" href="/account">My Account</a>
        {% else %}
          <a class="myAccount__link" href="/account/login">Log in</a>
          {% if shop.customer_accounts_optional %}
            <span class="myAccount__separator"> - </span>
            <a class="myAccount__link is-active" href="/account/register">Register</a>
          {% endif %}
        {% endif %}
      </div>

      <div class="myAccount__visibleSide">
        {% if customer %}
          <a href="/account" class="myAccount__img">
            <div class="myAccount__gravatar">
              <img src="//gravatar.com/avatar/{{ customer.email | md5 }}?s=40&d=blank"/>
            </div>
            <svg class="myAccount__icon">
              <use xlink:href="#user-2"></use>
            </svg>
          </a>

          <a class="myAccount__link is-active" href="/account">Hi, {{ customer.first_name }} !</a>
        {% else %}
          <a href="/account/register" class="myAccount__img">
            <svg class="myAccount__icon">
              <use xlink:href="#user-1"></use>
            </svg>
          </a>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endif %}
